.card-kegiatan {
  width: 450px;
  height: 650px;
  text-overflow: ellipsis;
  background-color: #222;
}

.box-image-card {
  display: flex;
  place-content: center;
  border: 0.5px white solid;
}

.box-deskripsi-card {
  padding: 10px;
  margin-top: 5px;
  height: 35%;
  color: white;
  overflow: hidden;
  /* background-color: aqua; */
  text-align: justify;
}

.box-deskripsi-card p {
  padding: 0;
  margin: 0;
  color: #ddd;
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 992px) {
  .card-kegiatan {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .card-kegiatan {
    width: 450px;
    height: max-content;
  }
}

@media (max-width: 576px) {
  .card-kegiatan {
    width: 350px;
  }
}
